.card {
    background: linear-gradient(var(--sombra-source), #001225);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 29rem;
    height: 60.625rem;
    padding: 1.5rem;
    border-radius: .5rem;
}
.capa > img {
    width: 26.375rem;
    height: 39rem;
}
.titulo{
    color: var(--texto-50);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins';
}
.titleline{
    display: flex;
    justify-content: space-between;
}
.classinf {
    display: flex;
    flex-direction: column;
    color: var(--texto-50);
    text-align: start ;
    font-size: 1.25rem;
    font-family: 'Roboto';
    gap: .5rem;
    margin-top: 2.5rem;
}
.sessoesbutton {
    margin-top: 1rem;
}
.sessoesbutton > button{
    background-color: var(--callToAction-source);
    width: 12.75rem;
    height: 2.75rem;
    border-radius: .5rem;
    color: var(--texto-50);
    font-size: 1.15rem;
    font-weight: 600;
    font-family: 'Poppins';
}