.header{
    background-color: var(--principal-source);
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10.625rem;
    gap: 1rem;
    padding: 1.5rem 2rem;
}
.logo{
    display: flex;
}
.logo > img {    
    width: 15.625rem;
    height: 6.125rem;
}

.headerbuttons {
    display: flex;
    gap: 1rem;
}


