.root {
  position: relative;
  width: 1440px;
  height: 1364px;
  align-items: flex-start;
  background-color: #1e1e1e;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1440px;
  height: 1364px;
  transform: translateX(-50%);
}
.icon {
  width: 100%;
  height: 100%;
}
.fundo {
  position: absolute;
  left: 438px;
  top: 220px;
  width: 900px;
  height: 700px;
  background-color: #141414;
  box-shadow: 0px 0px 8px 4px #141414;
}
.legenda {
  color: #b0b0b0;
  font-size: 16.0781px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 792px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame21 {
  position: absolute;
  left: calc(50% - 212px);
  top: 830px;
  width: 20px;
  height: 20px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.cadeira1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  outline: solid 3px #003877;
  border-radius: 6px 6px 0 0;
}
.disponivel {
  color: #c6c6c6;
  font-size: 16.0781px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  position: absolute;
  left: 531.2803px;
  top: 828px;
  width: 96.72px;
  height: min-content;
  flex-direction: column;
}
.cadeira12 {
  position: absolute;
  left: 834px;
  top: 830px;
  width: 20px;
  height: 20px;
  outline: solid 3px #2b3955;
  border-radius: 6px 6px 0 0;
  background-color: #2b3955;
}
.comprado {
  color: #c6c6c6;
  font-size: 16.0781px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  position: absolute;
  left: 866.7557px;
  top: 828px;
  width: 97.2441px;
  height: min-content;
  flex-direction: column;
}
.cadeira13 {
  position: absolute;
  left: 660px;
  top: 830px;
  width: 20px;
  height: 20px;
  outline: solid 3px #cc8000;
  border-radius: 6px 6px 0 0;
  background-color: #cc8000;
}
.selecionado {
  color: #c6c6c6;
  font-size: 16.0781px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  position: absolute;
  left: 692px;
  top: 828px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line1 {
  position: absolute;
  left: 498px;
  top: 779px;
  width: 775px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 2.5px #9b9b9b;
}
.a {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 320px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.b {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1261px;
  top: 364px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.c {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 408px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.d {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 452px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.e {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 496px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.f {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 540px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.g {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 584px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.h {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 628px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.i {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 672px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.j {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 1260px;
  top: 716px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.a2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 320px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.b2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 499px;
  top: 364px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.c2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 408px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.d2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 452px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.e2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 496px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.f2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 540px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.g2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 584px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.h2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 628px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.i2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 672px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.j2 {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 498px;
  top: 716px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame212 {
  position: absolute;
  left: 623px;
  top: 326px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame213 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame24 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira14 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira2 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira3 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira4 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira5 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira6 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira7 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira8 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira9 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira10 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira11 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira122 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira132 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira142 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira15 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira16 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira17 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira18 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame30 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 10px;
}
.cadeira19 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira22 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira32 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira42 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira52 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira62 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira72 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira82 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira92 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira102 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira112 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira123 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira133 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira143 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira152 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira162 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira172 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira182 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame31 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 10px;
}
.cadeira110 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira23 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira33 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira43 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira53 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira63 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira73 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira83 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira93 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira103 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira113 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira124 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira134 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira144 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira153 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira163 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira173 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira183 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame23 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame242 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira111 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira24 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira34 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira44 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira54 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira74 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira192 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira84 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira94 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira104 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira114 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira125 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira135 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira145 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira154 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira164 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira174 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira184 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame243 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame244 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira115 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira25 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira45 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira75 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira85 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira95 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira126 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira136 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira146 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira155 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira165 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira175 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira193 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira20 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira21 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira222 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira232 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira185 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame25 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame245 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira116 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira26 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira35 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira46 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira55 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira64 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira76 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira194 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira127 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira137 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira156 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira166 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira176 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira186 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira202 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira212 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira223 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira233 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame26 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame246 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira117 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira27 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira36 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira86 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira96 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira105 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira118 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira128 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira138 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira147 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira157 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira167 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira177 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira187 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira195 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira203 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira213 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira224 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame27 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame247 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira119 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira28 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira37 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira47 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira56 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira65 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira77 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira87 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira97 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira106 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1110 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira148 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira158 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira168 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira178 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira188 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira196 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira204 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame28 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame248 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira120 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira29 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira38 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira48 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira57 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira66 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira78 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira88 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira98 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1111 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira129 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira139 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira169 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira179 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira189 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira197 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira205 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira214 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.frame29 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame249 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.cadeira121 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira210 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira39 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira49 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira58 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira67 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira79 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira89 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira99 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira107 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1112 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1210 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1310 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira149 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira159 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1610 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1710 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.cadeira1810 {
  width: 20px;
  height: 20px;
  outline: solid 3px #004a9b;
  border-radius: 6px 6px 0 0;
}
.luz {
  position: absolute;
  left: calc(50% - -168px);
  top: 220px;
  width: 900px;
  height: 50px;
  background-image: linear-gradient(180deg, #cc8000ff 0%, #cc800000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: translateX(-50%);
}
.tela {
  position: absolute;
  left: calc(50% - -168px);
  top: 220px;
  width: 900px;
  height: 38.9952px;
  overflow: visible;
  transform: translateX(-50%);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.tela2 {
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -167.5px);
  top: 220px;
  width: 35px;
  height: 23.8074px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.fundo2 {
  position: absolute;
  left: 0px;
  top: 170px;
  width: 336px;
  height: 780px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.botao {
  position: absolute;
  left: calc(50% - 551.5px);
  top: 886px;
  width: min-content;
  height: min-content;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: #cc8000;
  transform: translateX(-50%);
}
.confirmar {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame302 {
  position: absolute;
  left: calc(50% - 548px);
  top: 469px;
  width: 270px;
  height: 352px;
  border-radius: 4px;
  background-color: #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0px 0px 4px 0px #00000040;
  transform: translateX(-50%);
}
.streamlineShoppingCatergoriesC {
  position: absolute;
  left: 48px;
  top: 440px;
  width: 14px;
  height: 14px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.assentosEscolhidos {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 67px;
  top: 436px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.capa {
  position: absolute;
  left: 48px;
  top: 220px;
  width: 112.2072px;
  height: 200px;
  border-radius: 3.2662px;
  background-image: url('/src/Imagens/Capa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3.2662px 3.2662px 0px #00000040;
}
.besouroAzul {
  color: #fff;
  font-size: 19.5973px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: 173.7256px;
  top: 220px;
  width: 126px;
  height: 23px;
  flex-direction: column;
}
.frame4 {
  position: absolute;
  left: 245px;
  top: 251px;
  width: 54.7245px;
  height: 24.4898px;
  place-content: center;
  align-items: center;
  padding: 4.1683px 10.4208px;
  outline: solid 1.5631px #cc8000;
  border-radius: 2.6052px;
  background-color: #cc8000;
}
._1520 {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame5 {
  position: absolute;
  left: 174px;
  top: 251px;
  width: 54.7245px;
  height: 24.4898px;
  place-content: center;
  align-items: center;
  padding: 4.1683px 10.4208px;
  outline: solid 1.5631px #cc8000;
  border-radius: 2.6052px;
  background-color: #cc8000;
}
._2D {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
