:root {
    --principal-source: #0066CC;
    --principal-900: #003877;
    --principal-800: #004A9B;
    --principal-500: #4A84EC;
    --principal-400: #6D98FB;
    --principal-100: #D2DBFF;

    --complementar-source: #0BB0E3;
    --complementar-900: #00405E;
    --complementar-800: #00557B;
    --complementar-500: #0092C3;
    --complementar-400: #2BA7D4;
    --complementar-100: #BFE2F5;

    --complementar2-souce: #0BD9D3;
    --complementar2-900: #004442;
    --complementar2-800: #005A57;
    --complementar2-500: #009A95;
    --complementar2-400: #00AEA9;
    --complementar2-100: #B6E6E3;

    --sombra-source: #00264D;
    --sombra-900: #2B3955;
    --sombra-800: #394B70;
    --sombra-700: #4A5E89;

    --sombra2-souce: #004C99;
    --sombra2-900: #1A386A;
    --sombra2-800: #224A8B;
    --sombra2-700: #305DA8;
    
    --callToAction-source: #CC8000;
    --callToAction-500: #BF7600;
    --callToAction-400: #D48C29;
    --callToAction-300: #E6A352;

    --cancel-source: #CC2014;
    --cancel-700: #BB180F;
    --cancel-600: #D82F1E;

    --confirm-source: #00CC54;
    --confirm-600: #008912;
    --confirm-400: #03B349;

    --texto-source: #001122;
    --texto-50: #F2FAF7;

    --cinza-preto: #000000;
    --cinza-900: #393939;
    --cinza-800: #4B4B4B;
    --cinza-700: #5E5E5E;
    --cinza-600: #727272;
    --cinza-500: #868686;
    --cinza-400: #9B9B9B;
    --cinza-300: #B0B0B0;
    --cinza-200: #C6C6C6;
    --cinza-100: #DDDDDD;
    --cinza-50: #F3F3F3;
    --cinza-branco: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #1E1E1E;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
